<connectionStrings>
<!--<add name="SATEntities" connectionString="metadata=res://*/SAT.csdl|res://*/SAT.ssdl|res://*/SAT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=SAT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
<add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=SAT;Integrated Security=True" providerName="System.Data.SqlClient" />-->
<!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=SAT.UI.MVC-2-1-alpha1;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->

  <add name="SATEntities" connectionString="metadata=res://*/SAT.csdl|res://*/SAT.ssdl|res://*/SAT.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5050.site4now.net;Initial Catalog=db_a81d80_d2201mrobertssat;User Id=db_a81d80_d2201mrobertssat_admin;Password=Smarter@SP3&quot;" providerName="System.Data.EntityClient" />
  <add name="DefaultConnection" connectionString="Data Source=SQL5050.site4now.net;Initial Catalog=db_a81d80_d2201mrobertssat;User Id=db_a81d80_d2201mrobertssat_admin;Password=Smarter@SP3" providerName="System.Data.SqlClient" />

</connectionStrings>
